/* **************** */
/*  CSS structure  */
/* **************** */

body {
    margin: 0px;
    padding: 0px;
    font: 16px ו,Arial, Helvetica, sans-serif normal;
    text-align: center;	
    color: #364B7E;	

    background-color: #E6EBEF;
	
	/*    enable only under IE        */
    scrollbar-3dlight-color:#B1C3DB;
    scrollbar-arrow-color:#3F4A77;
    scrollbar-track-color:#FFFFFF;
    scrollbar-darkshadow-color:#B1C3DB;
    scrollbar-face-color:#E3EAF4;
    scrollbar-highlight-color:#FFFFFF;
    scrollbar-shadow-color:#FFFFFF
}
a {
    color: #364B7E; 
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

strong {
	padding-left: 2px;
	padding-right: 2px;

}
em {
	padding-left: 2px;
	padding-right: 2px;
    color: red;
	font-style: normal;
	font-weight: normal;
}

label {

}

/*  form  */

form {
    margin: 0px;
	padding: 0px;
}
input {
    

}
select {
    color: #364B7E;
	background-color: #E6EBEF; 
}

select optgroup {
    padding: 2px;
	font-weight: bold;
	font-style: normal; 
    color: #364B7E;
}
select optgroup option {

}

textarea {
    border: 1px solid #6F7B89;
}

/*    */
table {
    width: 98%;
    margin: 5px 5px 20px 5px;
	padding: 2px;
	
   table-collapse: collapse;

	background-color: #FFF;	
	border: solid #C5C6CB;
	border-width: 1px 0px 0px 1px;
}
body> table {
    width: 98%;
	margin: 0px;
	padding: 0px;
}
table caption {

    margin: 0px;
	padding: 6px auto;
	font-size: 20px;
	font-weight: bold;
	color: red;
	text-align: center;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #99AACB;
	background-color: #BBC6DD;

	
}
table th {
    margin: 0px;
	padding: 4px 0px;
    font-weight: bold;
	font-size: 18px;
	text-align: center;
	
	word-break: keep-all;
	white-space: nowrap;
    background-color: #F1F1F1;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color:  #C5C6CB;

}
table th input {
    margin: -2px;
}

table td {
    padding: 2px 4px 2px 2px;
    text-align:center;
	text-indent:4px;
	word-break: keep-all;
	break-wrap: break-word; 
    white-space: nowrap;	
	font-size: 18px;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color:  #C5C6CB;
	    
}
table td img {
    cursor: hand;
}
table th.reference_checkbox {
     width: 30px;
	 text-indent: 4px;
}
table td.align_right {
     text-align: right;
}
table td.align_center {
     text-align: center;
}
