/* CSS Document */
*{ margin:0px; padding:0px;}

.top_t_2_new1{margin:0 0 0 0px; padding:0 0 0 26px; background-image:url(../images/icon_99.gif); background-repeat:no-repeat; background-position:left center; float:left;}
.welcome{ float:right; padding-top:2px;}
.top1_1_r1{width:265px; margin:0; padding:0; float:right;}
.hotkeyword{ margin-top:8px; padding-left:5px; width:515px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}


.top1_1_r_t_11{margin:0 0 0 0px; padding:0; float:left;}
.top1_1_r_l_11{width:1px; height:12px; margin:0 10px 0 10px; padding:0; background-color:#CCCCCC; float:left; overflow:hidden;}