<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" 
	version="3.0">
  <display-name>BookStore</display-name>

  <!-- 图书评论 -->
  <servlet>
    <servlet-name>DeleteBookDiscussServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookDiscuss.DeleteBookDiscussServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>FindAllBookDiscussServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookDiscuss.FindAllBookDiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByBookDiscussIdServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookDiscuss.FindByBookDiscussIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveBookDiscussServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookDiscuss.SaveBookDiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookDiscussServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookDiscuss.UpdateBookDiscussServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookDiscussServlet</servlet-name>
    <url-pattern>/DeleteBookDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllBookDiscussServlet</servlet-name>
    <url-pattern>/FindAllBookDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByBookDiscussIdServlet</servlet-name>
    <url-pattern>/FindByBookDiscussIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveBookDiscussServlet</servlet-name>
    <url-pattern>/SaveBookDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookDiscussServlet</servlet-name>
    <url-pattern>/UpdateBookDiscussServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 图书信息 -->
  <servlet>
    <servlet-name>DeleteBookInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookInfo.DeleteBookInfoServlet</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>FindAllBookInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookInfo.FindAllBookInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByBookInfoIdServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookInfo.FindByBookInfoIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveBookInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookInfo.SaveBookInfoServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>UpdateBookInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookInfo.UpdateBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookInfoServlet</servlet-name>
    <url-pattern>/DeleteBookInfoServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>FindAllBookInfoServlet</servlet-name>
    <url-pattern>/FindAllBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByBookInfoIdServlet</servlet-name>
    <url-pattern>/FindByBookInfoIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveBookInfoServlet</servlet-name>
    <url-pattern>/SaveBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookInfoServlet</servlet-name>
    <url-pattern>/UpdateBookInfoServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 图书类别 -->
  <servlet>
    <servlet-name>BookType</servlet-name>
    <servlet-class>servlet.BookType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBookTypeServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookType.DeleteBookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllBookTypeServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookType.FindAllBookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByBookTypeIdServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookType.FindByBookTypeIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveBookTypeServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookType.SaveBookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookTypeServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.bookType.UpdateBookTypeServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>BookType</servlet-name>
    <url-pattern>/BookType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookTypeServlet</servlet-name>
    <url-pattern>/DeleteBookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllBookTypeServlet</servlet-name>
    <url-pattern>/FindAllBookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByBookTypeIdServlet</servlet-name>
    <url-pattern>/FindByBookTypeIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveBookTypeServlet</servlet-name>
    <url-pattern>/SaveBookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookTypeServlet</servlet-name>
    <url-pattern>/UpdateBookTypeServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- 用户详细信息 -->
  <servlet>
    <servlet-name>DeleteCusDetailInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerDetailInfo.DeleteCusDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllCusDetailInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerDetailInfo.FindAllCusDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByCusDetailInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerDetailInfo.FindByCusDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveDetailInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerDetailInfo.SaveDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateDetailInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerDetailInfo.UpdateDetailInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCusDetailInfoServlet</servlet-name>
    <url-pattern>/DeleteCusDetailInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllCusDetailInfoServlet</servlet-name>
    <url-pattern>/FindAllCusDetailInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByCusDetailInfoServlet</servlet-name>
    <url-pattern>/FindByCusDetailInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveDetailInfoServlet</servlet-name>
    <url-pattern>/SaveDetailInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateDetailInfoServlet</servlet-name>
    <url-pattern>/UpdateDetailInfoServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- 用户信息 -->
  <servlet>
    <servlet-name>DeleteCustomerInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerInfo.DeleteCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllCustomerInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerInfo.FindAllCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByCustomerInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerInfo.FindByCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveCustomerInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerInfo.SaveCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustomerInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.customerInfo.UpdateCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerInfoServlet</servlet-name>
    <url-pattern>/DeleteCustomerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllCustomerInfoServlet</servlet-name>
    <url-pattern>/FindAllCustomerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByCustomerInfoServlet</servlet-name>
    <url-pattern>/FindByCustomerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveCustomerInfoServlet</servlet-name>
    <url-pattern>/SaveCustomerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerInfoServlet</servlet-name>
    <url-pattern>/UpdateCustomerInfoServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- 员工信息 -->
  <servlet>
    <servlet-name>Employee</servlet-name>
    <servlet-class>servlet.Employee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.employee.DeleteEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllEmployeeServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.employee.FindAllEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByEmpIdServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.employee.FindByEmpIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveEmployeeServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.employee.SaveEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.employee.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
<!--   <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <url-pattern>/DeleteEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllEmployeeServlet</servlet-name>
    <url-pattern>/FindAllEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByEmpIdServlet</servlet-name>
    <url-pattern>/FindByEmpIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveEmployeeServlet</servlet-name>
    <url-pattern>/SaveEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  
  
 <!-- 收藏夹表 -->
  <servlet>
    <servlet-name>DeleteFavServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.favorite.DeleteFavServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllFavoriteServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.favorite.FindAllFavoriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByFavIdServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.favorite.FindByFavIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveFavServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.favorite.SaveFavServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateFavServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.favorite.UpdateFavServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>DeleteFavServlet</servlet-name>
    <url-pattern>/DeleteFavServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllFavoriteServlet</servlet-name>
    <url-pattern>/FindAllFavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByFavIdServlet</servlet-name>
    <url-pattern>/FindByFavIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveFavServlet</servlet-name>
    <url-pattern>/SaveFavServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFavServlet</servlet-name>
    <url-pattern>/UpdateFavServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- 新闻表 -->
  <servlet>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.news.DeleteNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllNewsServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.news.FindAllNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByNewsIdServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.news.FindByNewsIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveNewsServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.news.SaveNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.news.UpdateNewsServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <url-pattern>/DeleteNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllNewsServlet</servlet-name>
    <url-pattern>/FindAllNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByNewsIdServlet</servlet-name>
    <url-pattern>/FindByNewsIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveNewsServlet</servlet-name>
    <url-pattern>/SaveNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <url-pattern>/UpdateNewsServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- 前台 -->
  <servlet>
    <servlet-name>InitIndexServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.reception.InitIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowBookInfoServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.reception.ShowBookInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowBookListByTypeId</servlet-name>
    <servlet-class>com.bookstore.servlet.reception.ShowBookListByTypeId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowNewsServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.reception.ShowNewsServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>InitIndexServlet</servlet-name>
    <url-pattern>/InitIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBookInfoServlet</servlet-name>
    <url-pattern>/ShowBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBookListByTypeId</servlet-name>
    <url-pattern>/ShowBookListByTypeId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowNewsServlet</servlet-name>
    <url-pattern>/ShowNewsServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- 购物车 -->
  <servlet>
    <servlet-name>AddGwcItemServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.AddGwcItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearGwcItemServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.ClearGwcItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteGwcItemServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.DeleteGwcItemServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Gouwuche</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.Gouwuche</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GouwucheItem</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.GouwucheItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IGouwuche</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.IGouwuche</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitOrderServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.InitOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeOrderServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.MakeOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QtLoginServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.QtLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateGwcItemNumServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.shoppingCart.UpdateGwcItemNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGwcItemServlet</servlet-name>
    <url-pattern>/AddGwcItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearGwcItemServlet</servlet-name>
    <url-pattern>/ClearGwcItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGwcItemServlet</servlet-name>
    <url-pattern>/DeleteGwcItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gouwuche</servlet-name>
    <url-pattern>/Gouwuche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GouwucheItem</servlet-name>
    <url-pattern>/GouwucheItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IGouwuche</servlet-name>
    <url-pattern>/IGouwuche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitOrderServlet</servlet-name>
    <url-pattern>/InitOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeOrderServlet</servlet-name>
    <url-pattern>/MakeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QtLoginServlet</servlet-name>
    <url-pattern>/QtLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateGwcItemNumServlet</servlet-name>
    <url-pattern>/UpdateGwcItemNumServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- 管理员 -->
   <servlet>
    <servlet-name>BackgroundLoginOutServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.sysAdmin.BackgroundLoginOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackgroundLoginServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.sysAdmin.BackgroundLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.sysAdmin.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllAdminServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.sysAdmin.FindAllAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByAdminIdServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.sysAdmin.FindByAdminIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveAdminServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.sysAdmin.SaveAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.bookstore.servlet.sysAdmin.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackgroundLoginOutServlet</servlet-name>
    <url-pattern>/BackgroundLoginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackgroundLoginServlet</servlet-name>
    <url-pattern>/BackgroundLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/DeleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllAdminServlet</servlet-name>
    <url-pattern>/FindAllAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByAdminIdServlet</servlet-name>
    <url-pattern>/FindByAdminIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveAdminServlet</servlet-name>
    <url-pattern>/SaveAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>InitIndexServlet</welcome-file>
  </welcome-file-list>

  <filter>
        <filter-name>CharSetFilter</filter-name>
        <filter-class>com.bookstore.filter.CharSetFilter</filter-class>
        <init-param>
        	<param-name>charSet</param-name>
        	<param-value>gbk</param-value>
        </init-param>
  </filter>
  <filter-mapping>
        <filter-name>CharSetFilter</filter-name>
        <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>